@if(loggedIn){
    <h2>Study Questions</h2>
    <hr style="border: 1px dashed black;">
    <table>
        <th style="width: 60%; text-align: left;">Questions</th>
        <th>Answers</th>

        <tr>
            <td>
                <ol>
                    @for (q of AllQuestions; track q.id) {
                        <li style="margin-bottom: 10px;"> {{q.question}} <br>
                            @if(AllQuestionsButton[q.id] == true){ <button (click)="DisplayAnswer(q)" style="background-color: orange;" >Hide Answer</button> }
                            @else { <button (click)="DisplayAnswer(q)">Show Answer</button> }

                        </li>

                    }
                </ol>  
            </td>

            <td>       
                @if( showHideAnswer == true) {
                    <p style="text-align: center; text-decoration: underline;">{{selectedQuiz.answer}}</p>
                    <button (click)="AddFavorite(selectedQuiz)" style="display: block; margin: 0 auto;">Save to favorites</button>
                }
                @else {
                    <p style="text-align: center;">Choose a question to get started!</p>
                }
            </td>

        </tr>
    </table>

    <hr style="border: 1px dashed black;">

    <app-form (createEvent)="addQuiz($event)"></app-form>

    <hr style="margin-top: 20px;">
    <!-- calls our log out method -->
    <button style="display: block; margin: 10px 10px 10px auto;" (click)="signOut()">Sign Out</button>
}
@else {
    <h3>Please login again to continue</h3>
    <asl-google-signin-button></asl-google-signin-button>
}

<router-outlet></router-outlet>