<!-- calls our log out method -->
<button class="btn btn-outline-dark" (click)="signOut()">
    Sign Out
  </button>


<h2>Study Questions</h2>

<ol>
    @for (q of AllQuestions; track q.id) {
      
        <!-- <li><button onclick="displayanswer = !displayanswer">{{q.question}}</button> -->
        <li> {{q.question}} <button (click)="DisplayAnswer(q)"> See/Hide Answer </button> 
        <br/>
        </li>
        <!-- <li> {{q.question}} <button (click)="DisplayAnswer(q)"> {{displayanswer ? 'Hide Answer' : 'See Answer'}}</li> -->


    }
</ol>

@if( showHideAnswer == true) {
    <hr>
    <p>Answer: {{selectedQuiz.answer}}</p>
    <button (click)="AddFavorite(selectedQuiz)">Save to favorites</button>
}


<app-form (createEvent)="addQuiz($event)"></app-form>

<router-outlet></router-outlet>