<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<h2>Favorite Study Questions</h2>
@if(!loggedIn){
    <hr style="border: 1px dashed black;">
    <h3>Please login again to continue</h3>
    <asl-google-signin-button></asl-google-signin-button>
}
<ol>
    @for (f of AllFavorites; track f.id) {
      
       
        <li style="margin-bottom: 10px;"> {{f.quiz.question}} <br>

            @if(AllQuestionsButton[f.quiz.id] == true){ <button (click)="DisplayAnswer(f)" style="background-color: orange;" >Hide Answer</button> }
            @else { <button (click)="DisplayAnswer(f)">Show Answer</button> }
    }
</ol>

@if( showHideAnswer == true) {
    <hr style="border: 1px dashed black;">
    <p>Answer: <span style="text-decoration: underline;">{{selectedFav.quiz.answer}}</span></p>
    <br>
    <button (click)="deleteFav(selectedFav.quiz.id)">Remove Question from Favorites</button>
    
}


